* {
  margin: auto;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.nav-bar {
  background-color: rgba(119, 119, 119, 0.281);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 30px;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-bar a {
  text-decoration: none;
  color: rgba(104, 101, 101, 0.918);
  font-size: 20px;
}
.nav-btns {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  gap: 100px;
}
.nav-btns span {
  transition: 0.4s;
}
.nav-btns span:hover {
  color: rgb(233, 48, 141);

  /* transform: scale(1.1); */
  /* border: 2px solid white; */
}

/* HOME */

.bg {
  background-image: url(./assets/bg-home.jpg);
  height: 140vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 60px;
}
.bg img {
  width: 90%;
}
.bg-circle {
  background-color: rgb(233, 48, 141);
  color: white;
  width: 180px;
  height: 130px;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  border-radius: 50%;
  position: absolute;
  right: 100px;
  top: 400px;
  box-shadow: green -15px 5px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: rgba(199, 183, 183, 0.336);
}
.content-text {
  width: 600px;
  /* padding: 100px; */
  line-height: 30px;
}
.content-text h4 {
  color: rgb(112, 108, 108);
  font-size: 25px;
  padding-bottom: 5px;
}
.content-text h1 {
  color: rgb(233, 48, 141);
  padding: 10px 0px;
}
.content-text p {
  color: rgb(112, 108, 108);
}
.content-text p a {
  text-decoration: none;
  color: rgb(233, 48, 141);
}
.icons {
  background-color: rgb(173, 240, 18);
  height: 150px;
}
.icons {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  /* padding: 60px; */
  font-size: 50px;
}
footer {
  font-size: 20px;
}
.icon-social a {
  text-decoration: none;
  color: black;
  padding: 20px;
}

/* ABOUT */

.about-content {
  display: grid;
  height: 80vh;
  margin: 0px;
  background-color: rgba(199, 183, 183, 0.336);
}
.about-content h1 {
  margin-top: 75px;
  height: 70px;
  width: 98vw;
  align-items: center;
  text-align: center;
}
.about-bg h1 {
  background-color: rgb(233, 48, 141);
  align-items: center;
  text-align: center;
  padding-top: 50px;
  color: white;
}
.about-inner {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: 10px 0px;
  padding-bottom: 40px;
}
.abt-inner1 {
  background-color: rgba(199, 183, 183, 0.596);
  width: 50%;
  height: 450px;
  line-height: 40px;
  padding: 20px;
  font-size: 18px;
}
.abt-inner1 h3 {
  color: rgb(233, 48, 141);
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.abt-inner2 {
  align-items: start;
  text-align: left;
  padding-top: 40px;
  line-height: 30px;
  width: 60%;
  /* background-color: aquamarine; */
}
.abt-inner2 h3 {
  color: rgb(233, 48, 141);
}

/* BLOG */

.blog-right {
  background-color: rgba(199, 183, 183, 0.596);
  width: 40%;
  height: 100vh;
  letter-spacing: 1px;
  line-height: 25px;
  padding: 20px;
  align-items: center;
  text-align: center;
  margin: 20px;
}
.blog-right h1 {
  color: rgb(233, 48, 141);
  padding: 20px 10px;
}
.blog-right img {
  padding: 10px;
}
.blog-right h3 {
  font-size: 20px;
}
.blog-right h5 {
  font-size: 13px;
  color: rgb(75, 71, 71);
  margin-bottom: 20px;
}
.blog-right p {
  margin-bottom: 70px;
}

#readmore {
  text-decoration: none;
  color: rgb(233, 48, 141);
  border: 3px solid rgb(233, 48, 141);
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
#readmore:hover {
  color: white;
  /* border: 3px solid white; */
  background-color: rgb(233, 48, 141);
}

.blog-head {
  background-color: rgb(233, 48, 141);
  height: 70px;
  text-align: center;
  align-items: center;
  margin-top: 100px;
  padding-top: 40px;
  color: white;
}
.blog-content {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 80%;
  /* height: 100vh; */
  margin-top: 40px;
}
.blog-left {
  width: 80%;
  display: grid;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  text-align: left;
  padding: 20px;
  /* margin: 30px; */
}
.blog-left1,
.blog-left2 {
  display: flex;
  gap: 20px;
}
/* }
.blog-img1 {
} */

.content1 h1 {
  color: rgb(233, 48, 141);
  font-size: 25px;
  /* padding-bottom: 10px; */
}
.content1 h5 {
  color: rgb(75, 71, 71);
  /* padding: 10px; */
  padding-top: 5px;
  padding-bottom: 20px;
}
.content1 p {
  margin-bottom: 60px;
}
.content1 a {
  align-items: center;
  text-align: center;
}
.content2 h1 {
  color: rgb(233, 48, 141);
  /* padding-bottom: 10px; */
  font-size: 25px;
}
.content2 h5 {
  color: rgb(75, 71, 71);
  /* padding: 10px; */
  padding-top: 5px;
  padding-bottom: 20px;
}
.content2 p {
  margin-bottom: 60px;
}
.content2 a {
  align-items: center;
  text-align: center;
}
.line {
  background-color: rgb(75, 71, 71);
  width: 80%;
  height: 2px;
}
.blog-img1,
.blog-img2 {
  position: relative;
  top: -100px;
  padding: 20px;
}

/* CONTACT */

.bg-contact {
  background-image: url(./assets/contact-map.jpg);
  margin-top: 102px;
  height: 180px;
  padding: 60px;
  margin-bottom: 20px;
}
.contact-head {
  width: 70%;
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.contact-data {
  padding: 5px;
}
.contact-data h1 {
  color: rgb(190, 1, 96);
  padding-bottom: 10px;
}
.contact-data p {
  text-align: center;
  width: 80%;
  color: rgb(75, 71, 71);
}
.contact-loc {
  padding: 20px;
}
.contact-feedback {
  display: flex;
  /* align-items: center; */
  text-align: center;
  width: 60%;
  gap: 60px;
  justify-content: space-between;
  height: 80vh;
}
.contact-form {
  /* width: 40%; */
  /* background-color: rgb(75, 71, 71); */
  /* height: 100vh; */
  padding: 10px;
  /* margin: 10px; */
}
.contact-form h1 {
  color: rgb(233, 48, 141);
  padding: 10px;
}
.cnt-form-right {
  width: 50%;
  background-color: rgba(75, 71, 71, 0.336);
  align-items: center;
  text-align: center;
  height: 45vh;
  padding: 10px;
  line-height: 30px;
  /* margin-left: 50px; */
}
.cnt-form-right h1 {
  color: rgb(233, 48, 141);
  padding: 10px;
  font-size: 20px;
}
.cnt-form {
  padding: 10px;
}
.cnt-form input {
  width: 90%;
  padding: 10px;
  margin: 5px;
}

.cnt-form button {
  border: none;
  background-color: white;
  margin: 20px;
  /* font-size: larger; */
}
.product-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 5% 10%;
  padding: 20px;

  /* background-color: blueviolet; */
}
.prod-cnt {
  width: 50%;
  /* background-color: aquamarine; */
  text-align: left;
  align-items: center;
}
/* .prod-cnt1 {
  width: 50%;
} */
.prod-cnt h3 {
  text-align: center;
  padding: 10px;
  margin-left: 40px;
}
.prod-cnt1 {
  text-align: left;
  padding: 10px;
  width: 180px;
}
.prod-cnt1 h3 {
  color: rgb(233, 48, 141);
  padding-bottom: 20px;
}
.prod-cnt1 p {
  color: rgb(75, 71, 71);
}
